* {
    border: 1px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(40, 42, 54, 0.9); /* Dracula tema arkaplan */
    color: #f8f8f2;
}

#workspaces button {
    padding: 0 8px;
    margin: 5 3px;
    color: #6272a4;
    background: #44475a;
    border-radius: 100;
}

#workspaces button.active {
    color: #50fa7b; /* Aktif çalışma alanı rengi */
}

#window {
    color: #ff79c6;
    padding: 0 12px;
}

#cpu, #memory, #network, #pulseaudio, #clock {
    padding: 0 10px;
    margin: 5 3px;
    background: #44475a;
    border-radius: 100px;
}

#custom-music {  
    color: #50fa7b;  
    padding: 0 10px;
    margin: 5 3px;  
    /*background: #44475a;*/  
    border-radius: 100px;  
}  

#custom-music:hover {
    background: #6272a4;
    transition: 0.3s;
}

#custom-brightness {
    background: #44475a;
    padding: 0 10px;
    margin: 5 3px;
    border-radius: 100px;
}

#clock {
    color: #bd93f9;
}
